// lecture _ watching
.watching {
  position:relative;
  display:flex;
  min-height:100%;
  background-color:#fff;
  overflow-x: hidden;
  overflow-y: auto;
  .movie-info {
    flex:1;
    display: flex;
    flex-flow: column;
    height:100%;
    background-color:#fff;
    .movie {
      position:relative;
      display:flex;
      flex-wrap:wrap;
      .nick-1 {
        position:absolute;
        left:40px;
        bottom:65px;
        height:51px;
        line-height:49px;
        padding:0 60px;
        color:#fff;
        font-size:rem(18);
        font-weight:500;
        background:#000;
        text-align:center;
      }
      iframe {
        width:100%;
        height:100%;
      }
      .scene {
        position: relative;
        margin:2px 2px;
        overflow: hidden;
        iframe,
        video {
          position:absolute;
          bottom:0;
          left:0;
          width:100%;
          height:100%;
        }
        .nick-2 {
          position:absolute;
          left:0;
          bottom:0;
          height:32px;
          line-height:30px;
          padding:0 25px;
          color:#fff;
          font-size:rem(12);
          font-weight:500;
          background:#000;
        }
        .mike {
          display:block;
          position:absolute;
          bottom:5px;
          right:7px;
          width:24px;
          height:24px;
          background-repeat: no-repeat;
          background-position:center center;
          &.off {
            background-image:url("../images/icon/icon_mike_off.png");
          }
          &.on {
            background-image:url("../images/icon/icon_mike_on.png");
          }
        }
        .movie-close {
          position:absolute;
          top:0;
          right:0;
          display:block;
          width:34px;
          height:34px;
          background:#000 url("../images/icon/icon_x.png") no-repeat center center;
        }

        &.closing {
          background-color:#000;
          .coment {
            position:absolute;
            top:50%;
            left:50%;
            color:#fff;
            font-size:rem(22);
            font-weight:500;
            transform: translate(-50%, -50%);
          }
          .nick-2 {
            border:1px solid #fff;
          }
          .report {
            position:absolute;
            bottom:0;
            right:0;
            display:block;
            color:#ff0000;
            height:32px;
            line-height:30px;
            padding:0 25px;
            font-size:rem(12);
            font-weight:500;
            border:1px solid #ff0000;
            background:#000;
          }
          .more {
            position:absolute;
            top:0;
            right:0;
            display:block;
            width:34px;
            height:34px;
            background:#fff url("../images/icon/icon_more.png") no-repeat center center;
          }
        }
      }

      // 화면 분할
      &.divide-1 {
        flex:1;
        .scene {
          width:100%;
          padding-bottom:56.25%;
          margin:0;
        }
      }
      &.divide-2 {
        .scene {
          width:calc(50% - 4px);
          padding-bottom:28.13%;
        }
      }
      &.divide-3 {
        .scene {
          width:calc(33.3333% - 4px);
          padding-bottom:18.75%;
        }
      }
      &.divide-4 {
        .scene {
          width:calc(25% - 4px);
          padding-bottom:14.0625%;
        }
      }
      &.divide-5 {
        .scene {
          width:calc(20% - 4px);
          padding-bottom:11.25%;
        }
      }
      &.divide-6 {
        .scene {
          width:calc(16.6666% - 4px);
          padding-bottom:9.375%;
        }
      }
      &.divide-7 {
        .scene {
          width:calc(14.2857% - 4px);
          padding-bottom:8.0357%;
        }
      }
      &.divide-8 {
        .scene {
          width:calc(12.5% - 4px);
          padding-bottom:7.0312%;
        }
      }

      // 31명 이상일 경우
      &.over {
        .scene {
          iframe,
          video,
          .movie-close {
            display:none;
          }
          .nick-2 {
            display:flex;
            justify-content: center;
            align-items: center;
            right:0;
            height:100%;
            font-size:rem(14);
            text-align:center;
          }
        }
      }
    }
    .info {
      position: relative;
      height:125px;
      padding:38px 0 0 148px;
      .image {
        position:absolute;
        top:21px;
        left:39px;
        width:77px;
        height:77px;
        border-radius: 50%;
        overflow: hidden;
        img {
          width:100%;
          object-fit: cover;
        }
      }
      .tit {
        color:#0d0e10;
        font-size:rem(18);
        font-weight:500;
        line-height:1.2;
        .checkbox {
          margin-left:20px;
        }
      }
      .name-member {
        display:flex;
        align-items: center;
        margin-top:15px;
        .name {
          color:#525252;
          font-size:rem(16);
          line-height:1.2;
        }
        .mem {
          margin-left:40px;
          padding:0 0 0 28px;
          color:#000;
          font-size:rem(14);
          line-height:20px;
          background:url("../images/icon/icon_member02.png") no-repeat 0 center;
          background-size:16px auto;
          strong {
            color:$color-point;
          }
        }
      }
      .sel-out {
        position:absolute;
        top:36px;
        right:32px;
        display:flex;
        align-items: center;
        .btn-class-end {          
          width:197px;
          height:51px;
          line-height:49px;
          color:#fff;
          font-size:rem(18);
          font-weight:500;
          background:#000;
          text-align:center;
        }
        > p {
          display:inline-block;
          margin-right:20px;
          color:#000;
          font-size:rem(18);
          font-weight:500;
        }
      }
      .out-list {
        position:absolute;
        top:35px;
        right:25px;
      }
    }
  }

}