// checkbox
.checkbox {
  display:inline-block;
  position:relative;
  input[type=checkbox] {
    position:absolute;
    top:0;
    left:0;
    opacity:0;
  }
  label {
    display:inline-block;
    height:22px;
    line-height:22px;
    padding:0 0 0 28px;
    color:#000;
    font-size:rem(16);
    background:url("../images/common/form_check_off.png") no-repeat 0 center;
    .txt-required {
      color:#ff5000;
    }
  }
  input[type=checkbox]:checked + label {
    background-image:url("../images/common/form_check_on.png");
  }

  &.only {
    label {
      padding-left:22px;
    }
  }
}

// radiobox
.radiobox-1 {
  display:inline-block;
  position:relative;
  input[type=radio] {
    position:absolute;
    top:0;
    left:0;
    opacity:0;
  }
  label {
    display:inline-block;
    height:27px;
    line-height:27px;
    padding:0 0 0 44px;
    color:#000;
    font-size:rem(16);
    font-weight:500;
    background:url("../images/common/form_radio_off.png") no-repeat 0 center;
  }
  input[type=radio]:checked + label {
    background-image:url("../images/common/form_radio_on.png");
  }
}

// selectbox
.selectbox-1 {
  display:inline-block;
  select {
    width:154px;
    height:31px;
    padding:0 30px 0 18px;
    color:#000;
    font-size:rem(13);
    background:url("../images/icon/icon_select_arrow01.png") no-repeat 95% center;
    border:1px solid #ccc;
    appearance:none;
  }
}